<%= link_to("<< Home", root_path, :class => 'back-link')%>
<h2>User Login</h2>
<p>
   <%= form_tag '/login' do %>
   <%= label_tag :email%>
   <%= text_field_tag :email %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Login"%>
<%end%>
</p>

<%= link_to("Create A New Account", {:controller => 'users', :action => 'new'})%>

<!Code from https://levelup.gitconnected.com/simple-authentication-guide-with-ruby-on-rails-16a6255f0be8>