!DOCTYPE html> 
<html> 
<head> 
  <meta charset = "UTI-8">
	<title>Valetbike - Stations</title>
</head> 
<body>
  <nav> 
    <div class = "container"> 
      <h2>Valetbike Stations</h2>
      <div class = "menu">
        <%= link_to("Home", root_path, :class => 'back-link')%>
        <%= link_to("Map", {:action => 'map'}) %>
      </div> 
    </div> 
  </nav> 

  <div class="page-section flexbox vertical stretch">

<div class="logout">
  <%= link_to("Log out", logout_path, method: :delete) %>
</div>

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
      <%= link_to("Map", stations_map_path) %>
	</div>
  </div>
</body> 
</html> 




