<!DOCTYPE html> 
<html> 
<head> 
  <meta charset = "UTI-8"> 
  <title>Valetbike - Stations</title>
</head> 
<body>
  <nav> 
    <div class = "container"> 
      <h2>Valetbike Stations</h2>
      <div class = "menu">
        <%= link_to("Home", root_path, :class => 'back-link')%>
        <%= link_to("Map", {:action => 'map'}) %>
        <% if logged_in? %>
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=  current_user().first_name %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to("Profile", '#', class: "dropdown-item") %>
            <%= link_to("Setting", '#', class: "dropdown-item") %>
            <div class="dropdown-divider"></div>
            <%= link_to("Log Out", sessions_destroy_path, class: "dropdown-item") %>
          </div>
        <% else %>
          <%= link_to("Login", login_path)%>
          <%= link_to("Create Account", new_user_path)%>
        <% end %> 
      </div> 
    </div>
  </nav> 
  
  <div class="page-section flexbox vertical stretch">

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
        <div class="empty">
          No stations found.
        </div>
      <% end %>
</div>
</body>
</html>