<head>
  <meta charset = "UTI-8">
	<title>Valetbike - Map</title>
</head>
<body>
  <nav>
    <div class = "container">
      <h2>Valetbike Map</h2>
      <div class = "menu">
        <%= link_to("Home", root_path, :class => 'back-link')%>
        <%= if logged_in?
           link_to("Stats", {:controller => 'users', :action => 'stats'})
        end %>
        <%= if logged_in?
           link_to("Settings", {:controller => 'users', :action => 'settings'})
        end %>
        <%= if logged_in?
          link_to("Log Out", logout_path, method: :delete)
        else
          link_to("Stations", {:controller => 'stations', :action => 'index'})
        end %>
      </div>
    </div>
  </nav>

<h1><br><br>Nipmunc Notch Map<br></h1>

<div id="map"><%= map(
  :center => {
    :latlng => [42.317233, -72.631569],
    :zoom => 15
  }, :markers => @markers
) %></div>

<%# https://github.com/axyjo/leaflet-rails
https://www.rubydoc.info/gems/leaflet-rails/1.7.0
https://leafletjs.com/examples/quick-start/
https://stackoverflow.com/questions/22900904/setting-up-leaflet-with-ruby-on-rails
 %>
