
<head>
  <meta charset = "UTI-8">
	<title>Valetbike - Map</title>
</head>
<body>
  <nav>
			<div class = "container">
				<h1>Welcome to ValetBike!</h1>

				<div class = "menu">
					<% if logged_in? %>
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%=  current_user().first_name %>
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<%= link_to("Log Out", sessions_destroy_path, class: "dropdown-item") %>
						</div>
					<% else %>
						<%= link_to("Login", login_path)%>
						<%= link_to("Create Account", new_user_path)%>
					<% end %>
					<%= link_to("Stations", stations_path)%>
          <%= link_to("Map", stations_map_path)%>
				</div>
				<!-- Only visible when webpage is minimized !-->
				<button class = "hamburger">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
		</nav>

<h1><br><br><br>Nipmuc Notch Map<br></h1>


<div id="map"><%= map(
  :center => {
    :latlng => [42.317233, -72.631569],
    :zoom => 15
  }, :markers => @markers
) %></div>

<%# https://github.com/axyjo/leaflet-rails
https://www.rubydoc.info/gems/leaflet-rails/1.7.0
https://leafletjs.com/examples/quick-start/
https://stackoverflow.com/questions/22900904/setting-up-leaflet-with-ruby-on-rails
 %>
