<h1>User Stats</h1>

<p>Total Distance Biked: <%= @user.total_distance %> <br>
Total Time Spent Biking: <%= @user.total_time %><br>
Most Recent Bike Distance: <%= @user.recent_distance %> <br>
Most Recent Bike Time: <%= @user.recent_time %><br></p>

<%= link_to("Settings", {:action => 'settings'}) %>
